

  .PIC{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 270px;
  }

  .CT1{
    display: inline-flex;
    align-items: right;
    border: 1px solid blue;

  }